/* FONT IMPORTS */

@font-face
{
    font-family: headingFont;
    src: url(../font/cmunui.ttf);
}

/* BASICS */

h1
{
    font-family: headingFont;
    font-size: 48px;
}

h2
{
    font-family: headingFont;
    font-size: 36px;
}

h3
{
    font-family: headingFont;
    font-size: 20pt;
}

p, a, ol, li, label, input, button, select
{
    font-size: 16pt;
}

/* LAYOUT ITEMS */

/* FRONT END */

#mainTitle
{
    display: flex;
    justify-content: center;
}

#hero
{
    position: relative;

}

#hero img
{
    width: 100%;
}

#hero-text
{
    position: absolute;
    top: 77px;
    left: 81px;
    color: #fff;
    background-color: #00000080;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px #00000080;
    border-radius: 40px;
}

.frontItemGrid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.frontItemName
{
    grid-area:frontItemName;
    justify-self: center;
}

.frontItemCat
{
    grid-area: frontItemCat;
}

.frontItemImage
{
    grid-area: frontItemImage;
}

.frontItemPrice
{
    grid-area: frontItemPrice;
}

.frontItemViewBtn
{
    grid-area: frontItemBtn;
}

.frontMenuItem
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "frontItemName frontItemName"
        "frontItemCat frontItemImage"
        "frontItemPrice frontItemImage"
        ". frontItemBtn";
    background-color: #fff6d7;
    padding: 10px;
    margin: 5px;
}

.frontItemDetails
{
    background-color: #fff6d7;
    padding: 10px;
    margin: 5px;
}

.frontItemDetailsName
{
    display: flex;
    justify-content: center;
}

.frontItemDetailsImg
{
    grid-area: frontItemImg;
    padding: 5px;
    width: 100%;
}

.frontItemDetailsCat
{
    grid-area: frontItemCat;
    padding: 5px;
}

.frontItemDetailsDesc
{
    grid-area: frontItemDesc;
    padding: 5px;
}

.frontItemDetailsPrice
{
    grid-area: frontItemPrice;
    padding: 5px;
}

.frontItemContainer
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "frontItemImg frontItemCat"
        "frontItemImg frontItemDesc"
        "frontItemImg frontItemPrice";
}

/* BACK END */
.itemGrid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menuItemName
{
    margin-top: 0;
    grid-area:itemName;
}

.menuItemImage
{
    grid-area: itemImage
}

.menuItemCat
{
    grid-area: itemCategory;
}

.menuItemPrice
{
    grid-area: itemPrice;
}

.menuItemViewBtn
{
    margin-top: 10px;
    grid-area: viewButton;
}

.menuItemID
{
    grid-area: "itemID";
}

.menuItemGuests
{
    grid-area: "itemGuests";
}

.menuItemDate
{
    grid-area: "itemDate";
}

.menuItemDelivery
{
    grid-area: "itemDelivery";
}

.menuItemStatus
{
    grid-area: "itemStatus";
}

.menuItem
{

    background-color: #fff6d7;
    padding: 10px;
    margin: 5px;
}

.cateringItem
{
    background-color: #fff6d7;
    padding: 10px;
    margin: 5px;
}

.addEditMenuItemBox
{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.addEditMenuItemNameContainer
{
    grid-area: itemNameCon;
    padding-bottom: 5px;
}

.addEditMenuItemDescLabelContainer
{
    grid-area: itemDescCon;
    padding-bottom: 5px;
}

.addEditMenuItemDescFieldContainer
{
    grid-area: itemFieldCon;
    padding-bottom: 5px;
}

.addEditMenuItemCatContainer
{
    grid-area: itemCatCon;
    padding-bottom: 5px;
}

.form-control
{
    width: 98%;
    
}

.addEditMenuItemPriceContainer
{
    grid-area: itemPriceCon;
    padding-bottom: 5px;
}

.addEditMenuItemImgContainer
{
    grid-area: itemImgCon;
    padding-bottom: 5px;
}

.addEditMenuItemBtnContainer
{
    grid-area: itemBtnCon;
    align-self: self-end;
    padding-bottom: 5px;
}

.addEditMenuItemForm
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "itemNameCon itemNameCon"
        "itemDescCon itemDescCon"
        "itemFieldCon itemFieldCon"
        "itemPriceCon itemPriceCon"
        "itemCatCon itemCatCon"
        "itemImgCon itemImgCon"
        ". itemBtnCon";
    background-color: lavenderblush;
    padding: 10px;

}